<h1>Congratulations <%= @user.name %> on successfully signing in on Flash Sales</h1>
<h3>Please click on the below link to verify your email</h3>

<%= link_to 'Verify your Email', "http://127.0.0.1:3000/users/verify/#{@user.verification_token}"%>
