<p class='alert'><%= @notice %></p>
<h4 class='order-pl-ack'>Your order transaction was unsuccessfull because <%= @transaction.reason || 'no information was provided' %><h4>
<h4>Try placing your order again</h4>
