<p class='alert'><%= @notice %></p>
<h4 class='order-pl-ack'>An order confirmation mail has been sent to you with the respective order details please acknowledge</h4>
<%= link_to('Go to live deals', deals_url(status: 'live'), class: 'go-live-deal') %>
