<% if @customers_expenditure.blank? %>
  <h4>No customer ecpenditure data available yet</h4>
<% else %>
  <table class='cust-exp'>
    <tr>
      <th>Customer</th>
      <th>Expenditure</th>
    </tr>
    <% @customers_expenditure.each do |customer_expenditure| %>
      <tr>
        <td><%= link_to customer_expenditure.users_email, user_url(customer_expenditure.users_id) %></td>
        <td><%= deal_revenue.revenue %>
      </tr>
    <% end %>
  </table>
<% end %>
