@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.carousel {
  max-width: 48vw !important;
  margin: 0 !important;
}

p {
  text-align: center;
  margin-top: 2vh !important;
  margin-bottom: 0 !important;
  font-size: 3vh;
}

#deal_desc {
  width: 90%;
  padding: 2vh !important;
  font-size: 2vh;
  box-shadow: 0.08vh 0.08vh 2vh 0.08vh #D9D9DA;
  margin-bottom: 2vh !important;
  align-self: center;
}
.desc-head {
  align-self: center;
  margin-top: 2vh;
}


h4 {
  // text-decoration: underline;
  align-self: center;
}

.deal_crud {
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-bottom: 3vh;
  a {
    text-decoration: underline;
    margin-right: 1vh;
    align-self: center;
    font-size: 3vh;
  }
  form {
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
  }
  .deal_crud_btn {
    border: none;
    background-color: white;
    color: #0D6EFD;
    margin: 0;
    width: 16vh;
    padding: 0;
    font-size: 3vh;
    text-decoration: underline;
  }
}

.buy-btn {
  margin: 1vh;
  margin-bottom: 3vh;
  box-shadow: none;
  border: none;
  padding: 0;
  width: 18%;
  button {
    margin-bottom: 0;
  }
}

.single_deal {
  justify-content: center !important;
}

.show_deal {
  width: 74% !important;
  margin-left: 30vh !important;
}

.deals_container {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-self: center !important;
  margin-top: 7vh !important;
  margin-bottom: 1vh;
  justify-content: space-evenly;
  .deal {
    background-color: #F7F6FB;
    box-shadow: 0.08vh 0.08vh 2vh 0.08vh #D9D9DA;
    display: flex;
    flex-direction: column;
    margin: 2vh;
    padding-bottom: 2vh;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 46%;
    img {
      width: 100vh;
      height: 55vh;
      margin: 0 !important;
    }
    .deal_detail {
      height: 20% !important;
      width: 60vh;
      display: flex;
      flex-direction: column;
      align-self: center;
      h1 {
        align-self: center;
        margin-top: 1.4vh;
        font-size: 1.8vw;
        a {
          text-decoration: none;
          color: black;
        }
      }
      p {
        color: #646465;
        font-size: 1.5vh;
        margin-top: 1.5vh !important;
        text-align: center;
      }
      .price_detail {
        display: flex;
        flex-direction: row;
        justify-content: center;
        #d_price {
        font-size: 3vh;
        color: #4D4D4D;
        margin-left: 0.6vh;
        }
        #price {
          text-decoration:line-through;
          color: #8C8C8C;
          font-size: 3vh;
        }
      }
      .deal_info {
        display: flex;
        flex-direction: column;
        margin-top: 2vh;
        text-align: center;
        h4 {
          margin: 0vh;
          font-size: 1.8vh;
          text-decoration: none;
        }
      }
    }
  }
}
